.otp-geerator-container{
  margin-left: auto;
  margin-right:auto;
  margin-top:80px;
  width:400px;
  border: 1px solid #a9a9a9;
  padding-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);
  -moz-box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);
  box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);
}
.otp{
  display: inline-block;
  background-color: #ffafaf;
  color:#000;
  font-weight: 700;
  font-size: 22px;
  padding:20px;
}
.generate-link{
  color:#ff8100;
  cursor: pointer;
  margin:10px auto;
}
.generate-link:hover{
  color:#00ffff77;
}
.otpcode-container{
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  width:400px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);
  -moz-box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);
  box-shadow: 11px 11px 5px -4px rgba(0,0,0,0.07);

}
.info{
  margin-bottom: 20px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.btn-cont{
  margin-bottom: 20px;
}
.input-fields{
  margin-bottom: 20px;
}
input{
  width:40px;
  height: 40px;
  text-align: center;
}
.clearFields{
  cursor: pointer;
  color:#aa0000;
  display: inline-block;
  margin-left: 10px;
}
.form-title{
  font-weight: 700;
  font-size: 18px;
  margin:20px 0 0 0;
  padding: 0;
}